<!doctype html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <base href="/simple_tasks_service/">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
  </head>
  <body>
      <header>
        <h1>Ryukyu Interactive Vietnam: {{hero}}</h1>
        <p ng-if="login_status">{{login_status}}</p>
        <p ng-if="flash_message">{{flash_message}}</p>
      </header>
      <nav>
        <ul>
          <li><a href="/users_service">User Management Service</a></li>
          <li><a href="/user_photos_service">User Photos Service</li>
          <li><a href="/projects_service">Projects Service</li>
          <li><a href=".">Simple Tasks Service</li>
          <li ng-if="!loggedin_user"><a href="/users_service/login">Log In</a></li>
          <li ng-if="loggedin_user"><a href="/users_service/logout">Log Out</a></li>
        </ul>
      </nav>

      <main ng-view>

      </main>

      <script src="javascripts/config/routes.js"></script>
      <script src="javascripts/controllers/list_controller.js"></script>
      <script src="javascripts/controllers/slack_tasks_controller.js"></script>
      <script src="javascripts/controllers/delete_controller.js"></script>
      <footer>
          <small>Copyright Ryukyu Interactive Vietnam</small>
      </footer>
  </body>
</html>