<ul id="tasks_list">
    <li ng-repeat="task in tasks">
        <h3>{{task.name}}</h3>
        <dl>
            <dt>Assigned to:</dt>
            <dd ng-repeat="task_user in task.users">
                <dl>
                    <dt>User:</dt>
                    <dd>{{task_user.firstname}} {{task_user.lastname}}</dd>
                    <dt>Progress Description:</dt>
                    <dd>{{task_user.progress_description}}</dd>
                </dl>
            </dd>
            <dd ng-if="!task.users || task.users.length == 0">
                Need Assignee
            </dd>
            <dt>Deadline:</dt>
            <dd ng-if="task.deadline">{{task.deadline}}</dd>
            <dd ng-if="!task.deadline">Not defined</dd>
            <dt>Project:</dt>
            <dd ng-if="task.project_name">{{task.project_name}}</dd>
            <dd ng-if="!task.project_name">Not Assigned</dd>
        </dl>            
    </li>
</ul>

<ul id="projects_list">
    <li ng-repeat="project in projects">
        <h3>{{project.name}}</h3>
        <h4>Users:</h4>
        <ul class="project_users_list">
            <li ng-repeat="project_user in project.users">
                <em ng-if="project_user.role">{{project_user.role}}: </em> 
                <em ng-if="!project_user.role">Undefined Role: </em>
                {{project_user.firstname}} {{project_user.lastname}}
            </li>
        </ul>
        <p ng-if="!project.users || project.users.length == 0">No users assigned</p>
        <h4>Task Rank:</h4>
        <ol class="project_tasks_list">
            <li ng-repeat="project_task in project.tasks">
                {{project_task.name}}
            </li>
        </ol>
        <p ng-if="!project.tasks || project.tasks.length == 0">No tasks</p>
    </li>
</ul>

<ul id="users_list">
    <li ng-repeat="user in users">
        <h3>{{user.title}}</h3>
        <p>{{user.firstname}} {{user.lastname}}</p>
    </li>
</ul>