/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
body * {
  line-height: 1.0em;
  box-sizing: border-box;
}

/* line 25, ../sass/screen.scss */
#site_header {
  padding: 15px;
}

/* line 31, ../sass/screen.scss */
#site_nav {
  padding: 15px;
}
/* line 34, ../sass/screen.scss */
#site_nav .item {
  display: inline-block;
  border-right: 1px solid #c2c2c2;
  padding: 0px 10px 0px;
  font-size: 16px;
}
/* line 40, ../sass/screen.scss */
#site_nav .item a {
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
  color: blue;
}
/* line 44, ../sass/screen.scss */
#site_nav .item a:visited {
  color: blue;
}
/* line 48, ../sass/screen.scss */
#site_nav .item a:hover {
  font-size: 18px;
}
/* line 53, ../sass/screen.scss */
#site_nav .item:last-child {
  border-right: none;
}
/* line 58, ../sass/screen.scss */
#site_nav .item.active a {
  font-weight: bold;
  text-decoration: underline;
}

/* line 67, ../sass/screen.scss */
#development_nav .title {
  float: left;
  font-size: 18px;
  border-bottom: none;
}
/* line 72, ../sass/screen.scss */
#development_nav .item {
  display: inline-block;
  border-right: 1px solid #c2c2c2;
  padding: 0px 10px 0px;
  font-size: 16px;
}
/* line 78, ../sass/screen.scss */
#development_nav .item a {
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
  color: blue;
}
/* line 82, ../sass/screen.scss */
#development_nav .item a:visited {
  color: blue;
}
/* line 86, ../sass/screen.scss */
#development_nav .item a:hover {
  font-size: 18px;
}
/* line 91, ../sass/screen.scss */
#development_nav .item:last-child {
  border-right: none;
}
/* line 96, ../sass/screen.scss */
#development_nav .item.active a {
  font-weight: bold;
  text-decoration: underline;
}

/* line 105, ../sass/screen.scss */
#site_main {
  padding: 15px;
}

/* line 110, ../sass/screen.scss */
#site_footer {
  text-align: center;
  font-size: 10px;
  color: #5e5e5e;
}

/* line 118, ../sass/screen.scss */
.logo {
  color: #383838;
  font-size: 36px;
  padding-bottom: 10px;
}

/* line 126, ../sass/screen.scss */
.message {
  padding-left: 10px;
}

/* line 149, ../sass/screen.scss */
.title {
  font-weight: bold;
  font-size: 24px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

/* line 175, ../sass/screen.scss */
.name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

/* line 182, ../sass/screen.scss */
#projects_list .name {
  font-size: 20px;
}

/* line 187, ../sass/screen.scss */
.info {
  font-size: 14px;
  margin-bottom: 5px;
}

/* line 202, ../sass/screen.scss */
.attributes:after {
  content: "";
  display: table;
  clear: both;
}

/* line 219, ../sass/screen.scss */
.key {
  clear: left;
  float: left;
  font-size: 12px;
  font-weight: bold;
  color: #383838;
  margin-bottom: 3px;
}

/* line 229, ../sass/screen.scss */
.key--none {
  color: #5e5e5e;
}

/* line 242, ../sass/screen.scss */
.value {
  clear: right;
  float: left;
  font-size: 12px;
  padding-left: 3px;
  margin-bottom: 3px;
}

/* line 251, ../sass/screen.scss */
.value--none {
  color: red;
}

/* line 269, ../sass/screen.scss */
.value_item {
  clear: left;
  display: block;
  padding-left: 10px;
  border-bottom: none;
  font-size: 12px;
}
/* line 276, ../sass/screen.scss */
.value_item:after {
  content: "";
  display: table;
  clear: both;
}

/* line 283, ../sass/screen.scss */
.value_item + .last {
  margin-bottom: 5px;
}

/* line 306, ../sass/screen.scss */
.section_information .item {
  display: block;
  padding: 0px;
  border-bottom: 1px solid #c2c2c2;
}
/* line 310, ../sass/screen.scss */
.section_information .item a {
  color: black;
  display: block;
  padding: 10px 5px 10px;
  text-decoration: none;
  cursor: pointer;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 317, ../sass/screen.scss */
.section_information .item a:hover {
  color: black;
  background-color: #e2edff;
}
/* line 321, ../sass/screen.scss */
.section_information .item a:visited {
  color: black;
}

/* line 329, ../sass/screen.scss */
.figure {
  margin-bottom: 25px;
}
/* line 332, ../sass/screen.scss */
.figure .image img {
  position: relative;
  width: 100%;
  height: auto;
}
/* line 341, ../sass/screen.scss */
.figure .caption {
  text-align: center;
  font-size: 14px;
  color: #5e5e5e;
}

/* line 356, ../sass/screen.scss */
.section {
  float: left;
  width: 33.33%;
  padding: 15px;
  box-sizing: border-box;
}

/* line 365, ../sass/screen.scss */
#site_main + .home-panel #tasks_section {
  width: 30%;
}
/* line 369, ../sass/screen.scss */
#site_main + .home-panel #projects_section {
  width: 40%;
}
/* line 373, ../sass/screen.scss */
#site_main + .home-panel #users_section {
  width: 30%;
}

/* line 379, ../sass/screen.scss */
#site_main + .user-panel #profile_section {
  width: 30%;
}
/* line 383, ../sass/screen.scss */
#site_main + .user-panel #tasks_section {
  width: 40%;
}
/* line 387, ../sass/screen.scss */
#site_main + .user-panel #projects_section {
  width: 30%;
}

/* line 393, ../sass/screen.scss */
#site_main + .project-panel #profile_section {
  width: 30%;
}
/* line 397, ../sass/screen.scss */
#site_main + .project-panel #tasks_section {
  width: 40%;
}
/* line 401, ../sass/screen.scss */
#site_main + .project-panel #users_section {
  width: 30%;
}

/* line 408, ../sass/screen.scss */
#site_main:after {
  content: "";
  display: table;
  clear: both;
}

/* line 417, ../sass/screen.scss */
#users_list .key {
  float: none;
  display: block;
  font-size: 16px;
}
/* line 423, ../sass/screen.scss */
#users_list .value {
  float: none;
  display: block;
  font-size: 14px;
}

/* line 432, ../sass/screen.scss */
#profile_section .section_header {
  padding-bottom: 15px;
}
/* line 435, ../sass/screen.scss */
#profile_section .title {
  font-size: 40px;
  border-bottom: none;
}
/* line 440, ../sass/screen.scss */
#profile_section .name {
  font-size: 34px;
  font-weight: normal;
  color: #5e5e5e;
}
/* line 446, ../sass/screen.scss */
#profile_section .figure {
  border: 1px solid black;
  width: 50%;
}
/* line 451, ../sass/screen.scss */
#profile_section .key, #profile_section .value {
  font-size: 16px;
  margin-bottom: 10px;
}
