/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
body {
  line-height: 1.0em;
  box-sizing: border-box;
}

/* line 14, ../sass/screen.scss */
ol {
  list-style: decimal;
}

/* line 29, ../sass/screen.scss */
#site_header {
  padding: 15px;
}

/* line 34, ../sass/screen.scss */
#site_nav {
  padding: 15px;
}

/* line 39, ../sass/screen.scss */
#site_main {
  padding: 15px;
}

/* line 67, ../sass/screen.scss */
.title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

/* line 94, ../sass/screen.scss */
.name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

/* line 101, ../sass/screen.scss */
#projects_list .name {
  font-size: 20px;
}

/* line 106, ../sass/screen.scss */
.info {
  font-size: 14px;
}

/* line 120, ../sass/screen.scss */
.attributes:after {
  content: "";
  display: table;
  clear: both;
}

/* line 137, ../sass/screen.scss */
.key {
  clear: left;
  float: left;
  font-size: 12px;
  font-weight: bold;
  color: #383838;
}

/* line 146, ../sass/screen.scss */
.key--none {
  color: #5e5e5e;
}

/* line 158, ../sass/screen.scss */
.value {
  clear: right;
  float: left;
  font-size: 12px;
  padding-left: 3px;
}

/* line 166, ../sass/screen.scss */
.value--none {
  color: red;
}

/* line 186, ../sass/screen.scss */
.value_item {
  clear: left;
  display: block;
  padding-left: 10px;
  border-bottom: none;
  font-size: 12px;
}
/* line 193, ../sass/screen.scss */
.value_item:after {
  content: "";
  display: table;
  clear: both;
}

/* line 219, ../sass/screen.scss */
.section_information .item {
  display: block;
  padding: 5px 5px 15px 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #c2c2c2;
}

/* line 232, ../sass/screen.scss */
.section {
  float: left;
  width: 33.33%;
  padding: 15px;
  box-sizing: border-box;
}

/* line 240, ../sass/screen.scss */
#tasks_section {
  width: 30%;
}

/* line 244, ../sass/screen.scss */
#projects_section {
  width: 40%;
}

/* line 248, ../sass/screen.scss */
#users_section {
  width: 30%;
}

/* line 252, ../sass/screen.scss */
#site_main:after {
  content: "";
  display: table;
  clear: both;
}

/* line 261, ../sass/screen.scss */
#users_list .key {
  float: none;
  display: block;
  font-size: 16px;
}
/* line 267, ../sass/screen.scss */
#users_list .value {
  float: none;
  display: block;
  font-size: 14px;
}
