/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
    line-height: 1.0em;
    box-sizing: border-box;
}

//Numbered lists should display numbers
ol {
    list-style: decimal;
}

//The header of the website, common in all pages
//E.g.
//-----------------
//  (site_header)
//-----------------
//   (site_nav)
//-----------------
//  (site_main)
//-----------------
//  (site_footer)
//-----------------
#site_header {
    padding: 15px;
}

//The navigation of the website, common in all pages
#site_nav {
    padding: 15px;
}

//The main section of the website, common in all pages
#site_main {
    padding: 15px;
}

//The footer section of the website, common in all pages
#site_footer {

}

//TITLE
//Usually used for main section titles
//E.g.
//--------------(Section)
//  (Section Header)
//Projects List (title)
//-----------------
//  Manza 
//     Assigned Users:
//        - Ken
//        - Bob
//        - Joe
//  ---------------
//  Taiki Milk
//  ---------------
//  Fried Chicken
//  ---------------
.title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

//NAME
//Usually used for names of each item in a list
//E.g.
//--------------(Section)
//  (Section Header)
//Projects List (title)
//  ---------------
//  Manza (name)
//     Assigned Users:
//        - Ken
//        - Bob
//        - Joe
//  ---------------
//  Taiki Milk (name)
//  ---------------
//  Fried Chicken (name)
//  ---------------
.name {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

//Custom name style for projects list
#projects_list .name {
    font-size: 20px;
}

//For basic information, usually below a name or title
.info {
    font-size: 14px;
}

//The key in a key-value pair
//Currently we want key value pairs to be display left/right
//E.g.
//Task 12 (Name)
//--------------
//Creator (Key): Ken Le (Value)
//Deadline (Key): Monday (Value)
//Project (Key): Manza (Value)
.key {
    float: left;
    font-size: 12px;
    font-weight: bold;
    color: #383838;
}

//Modifier for keys that don't have a value
.key--none {
    color: #5e5e5e;    
}

//The value in a key-value pair
//E.g.
//Task 12 (Name)
//--------------
//Creator (Key): Ken Le (Value)
//Deadline (Key): Monday (Value)
//Project (Key): Manza (Value)
.value {
    font-size: 12px;
}

//Modifier for values that don't have a value
.value--none {
    color: red;
}

//If the value is a list, display the list below the key
//E.g.
//Task 12 (Name)
//--------------
//Assigned to (Key):
//  (Value list)
//  -Ken 
//  -Bob 
//  -Joe 
//Creator (Key): Ken Le (Value)
//Deadline (Key): Monday (Value)
//Project (Key): Manza (Value)
ol.value, ul.value, dl.value {
    clear: left;
    padding: 0px 10px 0px;
}

//Main list items, main information.  
//E.g. 
//Projects List (Section)
//  -------------(item)
//  Manza
//  -------------(item)
//  Taiki Milk 
//  -------------(item)
//  Fried Chicken
//  ---------------
.section_information .item {
    display: block;
    padding: 5px 5px 15px 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #c2c2c2;
}

//Sub list items, sub information.
//Used for list items that are the values of a key within a main item.  
//E.g.
//Projects List (Section)
//  -------------(item)
//  Manza (name)
//     Assigned Users (key):
//       (value list)
//        - Ken (value item)
//        - Bob (value item)
//        - Joe (value item)
//  -------------(item)
//  Taiki Milk (name)
//  -------------(item)
//  Fried Chicken (name)
//  ---------------
.value .item {
    margin-bottom: 5px;
    padding: 0px;
    border-bottom: none;
}

//Main sections of the website
//E.g.
//|Tasks List Section|    |Projects List Section|    |Users List Section    |
//|  Task 1          |    |  Manza              |    |  CEO: Shimada        |
//|  Task 2          |    |  Taki Milk          |    |  CTO: Phung          |
//|  Task 3          |    |  Fried Chicken      |    |  HR: Hung            |
.section {
    float: left;
    width: 33.33%;
    padding: 15px;
    box-sizing: border-box;
}

//Customize sections
#tasks_section {
    width: 30%;
}

#projects_section {
    width: 40%;
}

#users_section {
    width: 30%;
}

#site_main:after {
  content: "";
  display: table;
  clear: both;
}


//Customize users list
#users_list {
    .key {
        float: none;
        display: block;
        font-size: 16px;
    }

    .value {
        display: block;
        font-size: 14px;
    }
}