<h2> {{photo.firstname}} {{photo.lastname}}</h2>
<img src="http://ryukyu-user-photos-service.cleverword.com/api/users/{{routeID}}/photo.image" />
<p>{{photo.caption}}</p>
<ul>
    <li ng-if="loggedin_user.admin || loggedin_user.id == routeID"><a href="users/{{routeID}}/photo/edit">Edit</a></li>
    <li ng-if="loggedin_user.admin || loggedin_user.id == routeID"><a href="users/{{routeID}}/photo/new">New</a></li>
    <li ng-if="loggedin_user.admin || loggedin_user.id == routeID"><a href="users/{{routeID}}/photo/delete">Delete</a></li>
</ul>